---
title: "Bar Menu | Mountain Oasis Bar & Grill"
description: "View the full bar menu at Mountain Oasis Bar & Grill in Buena Vista, CO — beer, wine, margaritas, cocktails, and more."
hideFooter: true
bodyStyle: "overflow: hidden;"
---

{% extends "layouts/base.njk" %}

{% block content %}
  <section id="menu" class="text-center" style="height: 100vh;">
    <iframe src='https://88restaurants.com/1157/online_orders/frame#menu-2649' style='width: 100%;height: 100%;border:none;'></iframe>
  </section>
{% endblock %}
